html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

/*NAV*/
#hero{
    width: 100%;
    height: 400px;
    background: url(./images/desktop/image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: px;

}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 100%);
}

li > a:hover {
    text-decoration: underline;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.hamburger{ 
    display: none;
}

.logo{
    font-size: 1.5rem;
    
   color: hsl(0, 0%, 100%);
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    margin-left: 2rem;
}

.hero-box{
    width: 200px;
    border: 2px solid white;
}

.hero-heading{
    color: hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
}

/*VR*/
.vr-container{
    width: 1000px;
    height: auto;
    position: relative;
    margin: auto;
}

.vr-image, 
.vr-text-container{
    height: 100%;
    width: 100%;
    position: absolute;
}

.vr-image{
    top: 50px;
    left: 50px;
}

.vr-image img{
    width: 700px;
    height: auto;
}

.vr-text-container{
    background-color: white;
    padding: 40px;
    width: 585px;
    height: auto;
    z-index: 1;
    top: 200px;
    left: 450px;
}

.vr-heading-text{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    align-items: center;
    font-weight: 300;
    font-size: 3rem;
}

.vr-text-p{
    line-height: 30px;
    color: hsl(0, 0%, 41%);
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
}


/*OUR CREATIONS*/
.our-creations{
    display: block;
    position: relative;
    width: 1000px;
    margin:  0 auto;
    margin-top: 700px;

}

.our-creations-top{
    padding: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

.btn{
    position: absolute;
    color: white;
    background-color: black;
    width: 100px;
    height: 50px;
    right: 0px;
    top: 0px;
    text-transform: uppercase;
}


.grid-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 15px 15px;
    
}

.grid-text-container{
    position: relative;
    top: 85%;
    left: 15%;
}

.grid-item-text{
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 2;
    color: white;
    text-transform: uppercase;
}

.grid-item{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 450px;
    width: 250px;
    
}


.grid-item1{
    background-image:  url(./images/desktop/image-deep-earth.jpg);
}

.grid-item2{
    background-image: url(./images/desktop/image-night-arcade.jpg);
}

.grid-item3{
    background-image: url(./images/desktop/image-soccer-team.jpg);
}

.grid-item4{
    background-image: url(./images/desktop/image-grid.jpg);
}

.grid-item5{
    background-image: url(./images/desktop/image-from-above.jpg);
}

.grid-item6{
    background-image: url(./images/desktop/image-pocket-borealis.jpg);
}

.grid-item7{
    background-image: url(./images/desktop/image-curiosity.jpg);
}

.grid-item8{
    background-image: url(./images/desktop/image-fisheye.jpg);
}































/*FOOTER*/